src/conf/xml-resources/web-service-references/User/wsdl/localhost_8080/UniversalCarSale/User.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.usc.lk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.usc.lk/">

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="registration" type="tns:registration"/>

<xs:element name="registrationResponse" type="tns:registrationResponse"/>

<xs:element name="userHistory" type="tns:userHistory"/>

<xs:element name="userHistoryResponse" type="tns:userHistoryResponse"/>

<xs:complexType name="commonResponse">
<xs:sequence>
<xs:element name="data" type="xs:anyType" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userModel">
<xs:sequence>
<xs:element name="apiKey" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
<xs:element name="custId" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="fName" type="xs:string" minOccurs="0"/>
<xs:element name="lName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="historyModel">
<xs:sequence>
<xs:element name="createdAt" type="xs:string" minOccurs="0"/>
<xs:element name="custId" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="search" type="xs:string" minOccurs="0"/>
<xs:element name="updateAt" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userHistory">
<xs:sequence>
<xs:element name="api" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userHistoryResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registration">
<xs:sequence>
<xs:element name="fname" type="xs:string" minOccurs="0"/>
<xs:element name="lname" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="passConfirmation" type="xs:string" minOccurs="0"/>
<xs:element name="contact" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrationResponse">
<xs:sequence>
<xs:element name="return" type="tns:commonResponse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="historyModelArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:historyModel" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
</xs:sequence>
</xs:complexType>
</xs:schema>