web/WEB-INF/wsdl/localhost_8080/UniversalCarSale/User.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.usc.lk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.usc.lk/" name="User">
<types>
<xsd:schema>
<xsd:import namespace="http://service.usc.lk/" schemaLocation="http://localhost:8080/UniversalCarSale/User?xsd=1"/>
</xsd:schema>
</types>
<message name="userHistory">
<part name="parameters" element="tns:userHistory"/>
</message>
<message name="userHistoryResponse">
<part name="parameters" element="tns:userHistoryResponse"/>
</message>
<message name="registration">
<part name="parameters" element="tns:registration"/>
</message>
<message name="registrationResponse">
<part name="parameters" element="tns:registrationResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="User">
<operation name="userHistory">
<input wsam:Action="http://service.usc.lk/User/userHistoryRequest" message="tns:userHistory"/>
<output wsam:Action="http://service.usc.lk/User/userHistoryResponse" message="tns:userHistoryResponse"/>
</operation>
<operation name="registration">
<input wsam:Action="http://service.usc.lk/User/registrationRequest" message="tns:registration"/>
<output wsam:Action="http://service.usc.lk/User/registrationResponse" message="tns:registrationResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://service.usc.lk/User/loginRequest" message="tns:login"/>
<output wsam:Action="http://service.usc.lk/User/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="UserPortBinding" type="tns:User">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="userHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="User">
<port name="UserPort" binding="tns:UserPortBinding">
<soap:address location="http://localhost:8080/UniversalCarSale/User"/>
</port>
</service>
</definitions>